* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;

}

:root {
    --light: #F5F3F5;
    --darkBlue: #090446;
    --lightBlue: #0ac2ff;
    --red: #f85e25;
    --lightRed: #FDD3C4;
    --black: #302B27;
}

body {
    font-size: 18px;
    line-height: 1;
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light);
    color: var(--black);
}

main {
    min-height: 100vh;
    padding-bottom: 8rem;
}

header {
    height: 120px;
    width: 100%;
    background-color: var(--darkBlue);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--lightBlue);
}

h1 {
    padding: 1rem;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 10px 20px;
}

header a {
    text-decoration: none;
    color: var(--lightBlue);
}

header a:hover,
header a:active {
    color: var(--red);
    cursor: pointer;
}

.username {
    font-size: 80%;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

section {
    margin: 1rem;
}

.login-signup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.login-form,
.signup-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem;
} 

.signup-form {
    border-top: solid 1px var(--darkBlue);
}

.error,
.auth {
    color: red;
    padding: 10px 0;
}

article a {
    text-decoration: none;
    color: var(--darkBlue);
}

article a:hover,
article a:active {
    color: var(--red);
}

.post-header {
    background-color: var(--lightRed);
    padding: 10px 10px 20px 10px;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    border: solid 1px var(--red);
    margin-top: 2rem;
}

h2 {
    padding-bottom: 1.5rem;
}

h3 {
    font-size: 80%;
    font-weight: lighter;
    padding-top: 10px;
}

.post-container {
    border-bottom: solid 1px var(--darkBlue);
    padding: 20px;
    margin-bottom: 4rem;
}

.post-body {
    padding: 20px 10px;
    border-left: solid 1px var(--red);
    border-right: solid 1px var(--red);
}

.post-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
    border-left: solid 1px var(--red);
    border-right: solid 1px var(--red);
    border-bottom: solid 1px var(--red);
    border-radius: 0 0 10px 10px;
    font-size: 80%;
}

.comment-count {
    flex: 1 0 100%;
    padding-bottom: 1rem;
}

.comment-title {
    margin: 1rem;
}

.comment-box {
    border-bottom: solid 1px var(--lightRed);
    padding: 20px 10px 10px 10px;
    margin: 1rem 2rem 0 2rem;
}

.comment-stamp {
    text-align: right;
    font-size: 80%;
    padding: 15px 0 5px 0;
}

.comment-container {
    border: solid 1px var(--darkBlue);
    border-radius: 10px;
    padding: 20px;
    margin-top: 1rem;
}

.form-field {
    display: flex;
    flex-flow: column;
    /* padding: 10px; */
}

.form-input {
    padding: 10px;
    font-size: 100%;
    margin: 1rem 0;
    height: 2rem; 
}

.comment-field {
    padding: 10px;
    font-size: 100%;
    margin: 1rem 0;
    height: 100px;
}

.btn-primary {
    background-color: var(--red);
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--red);
    font-size: 90%;
    text-decoration: none;
    margin: 10px 5px 0 0;
    max-width: 120px;
}

.btn-secondary {
    background-color: var(--darkBlue);
    color: var(--red);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--red);
    font-size: 90%;
    text-decoration: none;
    margin: 10px 5px 0 0;
    max-width: 120px;
}

.btn-wide {
    max-width: 200px;
}

.btn-primary:hover,
.btn-primary:active {
    cursor: pointer;
    background-color: var(--darkBlue);
    color: var(--red);
}

.btn-secondary:hover,
.btn-secondary:active {
    cursor: pointer;
    background-color: var(--red);
    color: var(--light);
}

footer {
    height: 80px;
    text-align: center;
    background-color: var(--darkBlue);
    color: var(--lightBlue);
    padding: 2rem;
}

@media screen and (min-width: 576px) {

    .comment-count {
        flex: 1 0 40%;
        padding-bottom: 0;
    }

    h3 {
        text-align: right;
    }
}

@media screen and (min-width: 768px) {
    header {
        flex-flow: row;
        justify-content: space-between;
        padding: 1rem;
    }

    section {
        margin: 4rem;
    }

    .username {
        padding: 1rem 3rem 0 0;
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .login-signup {
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .login-form,
    .signup-form {
        flex: 1 0 40%;
        padding: 3rem;
    }

    .signup-form {
        border-top: none;
        border-left: solid 1px var(--darkBlue);
    }
}